<div class="questionbox">
  <p><%= @question %></p>
  <p>- You</p>
</div>
<div class="answerbox">
  <p><%= @answer %></p>
  <p>- Your coach</p>
</div>

<p><%= link_to "ask another question", ask_path %></p>
